// Don't put any css styles into this file, because it's included multiple times.

// Brand Colors

$brand-primary-color: #0593dd;
$brand-secondary-color: #2ecc71;
$brand-tertiary-color: #9b6bcc;
$brand-quaternary-color: #e67e22;
$brand-highlight: #4765a0;

$brand-nav-color: #333333;

$brand-red: #e74c3c;
$brand-green: #2ecc71;
$brand-yellow: #f1c40f;
$brand-blue: #0593dd;

$brand-gray: #6a6a6a;
$brand-gray-dark: #585f69;
$brand-gray-light: #ccc;
$brand-light: #f5f5f5;

$primary-color: $brand-primary-color;
$neutral: $brand-primary-color;

// Utility Classes

$border-color: #ccc;
$link-color: #0593dd;

// Timeline
$vertical: true;
