/* Layout */

body.simplex-skin {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  a:focus {
    outline: none;
  }

  // h3, h4, h5 {
  //   font-weight: normal;
  // }

  .nav-header {
    background: none
  }

  .navbar-static-top {
    background-color: #0096de !important;
    .customer_name {
      display: inline-block;
      height: 59px;
      min-width: 150px;
      h2, h3 {
        color: white;
        cursor: pointer;
        position: relative;
        top: 50%;
        margin: 0;
        padding: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-54.7%);
      }
    }
  }

  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    a {
      color: white;
    }
  }

  #logo-header {
    max-height: 100px;
    max-width: 100%;
    // width: 100%;
  }

  .logo-element {
    padding: 13px 18px;
    background-color: #0096de !important;
    height: 60px;
    img {
      max-width: 100%;
    }
  }

  .nav#side-menu > li.active {
    // border-left: 4px solid darken($navy, 2%);
  }

  .nav > li.active {
    border-left: none;
  }
  .nav.nav-pills > li.active {
    & > a {
      color: white;
    }
  }

  // .nav > li > a {
  //   padding-left: 15px;
  // }
  .nav-second-level li a {
    padding-left: 32px;
  }

  #customer_switch {
    .select2-container, .select2-choice {
      height: 1px;
      opacity: 0;
    }
  }

  .select2-container .select2-choices {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
  }

  .text-opacity {
    opacity: 0.8;
    color: #777777;
  }

  .text-bold {
    font-weight: bold;
  }

  .navbar-top-links li:last-child {
    margin-right: 0;
  }

  &.mini-navbar {
    .navbar-default .nav-second-level li a span.nav-label {
      display: block;
      span.label {
        display: inline-block;
      }
    }

    .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level {
      min-width: 200px !important;
      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .device-actions {
    margin-bottom: 40px;

    .btn-default {
      background-color: white;
      height: 39px;
      line-height: 39px;
      padding: 0 8px;
      &.disabled {
        color: #333;
      }
    }
  }

  .popover {
    min-width: 200px;
  }

  .navbar-minimalize {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.logo {
  background: transparent image-url('logo@2x.png') center center no-repeat;
  background-size: 180px 40px;
  height: 40px !important;
  width: 180px !important;
}

.position {
  font-size: .8em;
}

/* Devise */

.devise {

  padding-top: 50px;
  background: transparent image-url('photos/sign_in_background.png') top right no-repeat;

  .login-logo {
    margin-bottom: 40px;
    text-align: center;
  }
}

.reg-page {
  margin-bottom: 80px;
  color: #555;
  padding: 30px;
  background: #fefefe;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #eee;
}

.reg-header h2 {
  font-size: 24px;
  margin-bottom: 15px;
}


/* Reporting */

.month a {
  display:inline-block;
  text-transform: uppercase;
  padding: .1em .5em;
}

/* Filter */

nav {
  .divider-vertical {
    width: 5px;
    min-height: 1px;
  }
}
