/* Modules */

.number {
  font-weight: 700;
  line-height: 1.1em;
}
.form-group.number {
  font-weight: inherit;
  line-height: inherit;
}

table .number  { font-weight: 500; }
.number.small  { font-size: 1em; }
.number.medium { font-size: 1.6em; }
.number.large  { font-size: 1.8em; }
.number.xlarge { font-size: 2em; }
.number.xxlarge { font-size: 2.4em; }

.size {
  font-weight: 500;
}
.size.xsmall  { font-size: .8em; line-height: 1.2em; }
.size.small   { font-size: 1em; }
.size.medium  { font-size: 1.2em; }
.size.large   { font-size: 1.4em; }
.size.xlarge  { font-size: 1.8em; }
.size.xxlarge { font-size: 2.6em; }

.padding-top { padding-top: 1em; }

.label-type {
  font-size: 1em;
  font-weight: 500;
  margin: .6em 0 0 0;
}

.label-meta {
  font-size: 1em;
  font-weight: 500;
  margin-top: .6em;
  & small {
    text-transform: none;
  }
}

.label-meta-no-margin {
  font-size: .9em;
  font-weight: 500;
  text-transform: uppercase;
}

ul.form li + li {
  padding-bottom: .5em;
}

.row-border {
  border-top: 1px dashed $brand-gray-light;
  margin: 1.2em 0;
}

.row-border-short {
  border-top: 1px dashed $brand-gray-light;
  margin: .5em 0;
}

.no-border-top {
  border-top: none !important;
}

.accounting-code-row + .accounting-code-row {
  padding-top: 20px;
}

/* Utility Classes */

.phone-number {
  ::before { content: '-' }
  b {
    font-weight: normal;
  }
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: normal;
}

.margin-bottom {
  margin-bottom: 1em !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}

.clear-fix {
  clear: both;
}

.nowrap {
  white-space: nowrap !important;
}

.link-arrow a {
  color: $brand-primary-color;
}

.link-arrow.left {
  margin-right: .8em;
}

.link-arrow.right {
  margin-left: 1em;
}

.underline {
  text-decoration: underline;
}

.indicator {
  cursor: pointer;
  border-bottom: 1px dotted $brand-primary-color;
}

.pointer {
  cursor: pointer;
}

/* Panel Status */

.device_active {
  border-left: 5px solid $brand-green;
}

.device_suspended {
  border-left: 5px solid $brand-yellow;
}

.device_inactive {
  border-left: 5px solid $brand-red;
}

/* Alerts */

.alert ul {
  margin: 0;
  padding: 0 0 0 20px;
}

/* Colors */

.primary-branded {
}

.primary-branded {
}

.primary {
  color: $brand-primary-color;
}

.secondary {
  color: $brand-secondary-color;
}

.tertiary {
  color: $brand-tertiary-color;
}

.quaternary {
  color: $brand-quaternary-color;
}

.red, .text-danger {
  color: $brand-red;
}

.yellow {
  color: $brand-yellow;
}

.green, .text-success {
  color: $brand-green;
}

.blue {
  color: $brand-blue;
}

.white {
  color: #fff !important;
}

.gray {
  color: $brand-gray;
}

.gray-dark {
  color: $brand-gray-dark;
}

.gray-light {
  color: $brand-gray-light;
}

.legend {
  display: inline-block;
  width: 5px;
  height: 16px;
  border-radius: 2px;
}

.background-primary {
  background-color: $brand-primary-color !important;
}

.background-secondary {
  background-color: $brand-secondary-color !important;
}

.background-tertiary {
  background-color: $brand-tertiary-color !important;
}

.background-quaternary {
  background-color: $brand-quaternary-color !important;
}

.background-light {
  background-color: $brand-light !important;
}

.background-green {
  background-color: $brand-green;
}

.background-yellow {
  background-color: $brand-yellow;
}

.background-red {
  background-color: $brand-red;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected_filter {
  border-left: 5px solid $brand-secondary-color;
}

/* Branding From Lithium */

.primary-branded {}
.secondary-branded {}

.primary-branded-background {}
.secondary-branded-background {}

.primary-branded-border {}
.secondary-branded-border {}

.inline {  display: inline-block; }

.popover-content .events_diff pre {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  white-space: pre-line;
}

.only-printable { display: none; }
