//
// Text-formatting utilities.
//

// Text alignment.
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }


// Text colour.
$text-colors: (
  primary: $brand-primary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger
);

@each $status, $color in $text-colors {
  .text-#{$status} {
    color: $color !important;
  }
}


// Text styles.
.text-title {
  font-size: ceil($font-size-base * 1.14);
  font-weight: 700;
}
