//
// Data table sections.
//

.data {
  margin-bottom: ($line-height-computed * 2);
  font-size: $font-size-sm;
  box-shadow: 0 2px 7px rgba(#aaa, 0.5);

  th {
    font-size: floor(($font-size-base * 1.143));
  }
}

.data-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: floor(($font-size-base * 1.125));
  background-color: #d4d4d4;
}

.data-title {
  display: flex;
  flex: 0 0 auto;
  width: auto;
  height: 44px;
  padding: 0.767em 1.1em;
  font-weight: 600;
  color: $white;
  background-color: $brand-blue;
}

.data-tabs {
  .nav-pills {
    > li {
      margin-left: 0;
      border-left: 0;

      &.active {
        > a {
          font-weight: 600;
          color: $white;
        }
      }

      > a {
        padding: 0.767em 1.1em;
        font-weight: 700;
        color: $grey-600;
        border-radius: 0;
      }
    }
  }
}

.data-actions {
  flex: 0 0 auto;
  width: auto;
  height: 44px;
  padding: 8px 1.1em;

  > .btn {
    font-size: 14px;
  }
}
