
.container-scale {
  > .row {
    display: flex;
  }

  .col-scale {
    flex: 1 1 auto;
    padding: 20px;

    &:first-child {
      background-color: $white;

      // Matches if there are three columns.
      &:nth-last-child(3) {
        + div {
          background-color: #f5f5f5;
        }
      }

      // Matches if there are four columns.
      &:nth-last-child(4) {
        + div {
          background-color: #f6f6f6;

          + div {
            background-color: #f0f0f0;
          }
        }
      }

      // Matches if there are five columns.
      &:nth-last-child(5) {
        + div {
          background-color: #fbfbfb;

          + div {
            background-color: #f5f5f5;

            + div {
              background-color: #f0f0f0;
            }
          }
        }
      }

      // Six columns.
      &:nth-last-child(6) {
        + div {
          background-color: #fbfbfb;

          + div {
            background-color: #f6f6f6;

            + div {
              background-color: #f3f3f3;

              + div {
                background-color: #eee;
              }
            }
          }
        }
      }

      // Seven columns.
      &:nth-last-child(7) {
        + div {
          background-color: #fbfbfb;

          + div {
            background-color: #f6f6f6;

            + div {
              background-color: #f3f3f3;

              + div {
                background-color: #f1f1f1;

                + div {
                  background-color: #eee;
                }
              }
            }
          }
        }
      }

      // Eight columns.
      &:nth-last-child(8) {
        + div {
          background-color: #fbfbfb;

          + div {
            background-color: #f6f6f6;

            + div {
              background-color: #f5f5f5;

              + div {
                background-color: #f3f3f3;

                + div {
                  background-color: #f1f1f1;

                  + div {
                    background-color: #eee;
                  }
                }
              }
            }
          }
        }
      }

      // Nine columns.
      &:nth-last-child(9) {
        + div {
          background-color: #fbfbfb;

          + div {
            background-color: #f6f6f6;

            + div {
              background-color: #f5f5f5;

              + div {
                background-color: #f3f3f3;

                + div {
                  background-color: #f1f1f1;

                  + div {
                    background-color: #f0f0f0;

                    + div {
                      background-color: #eee;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // Ten columns.
      &:nth-last-child(10) {
        + div {
          background-color: #fbfbfb;

          + div {
            background-color: #f8f8f8;

            + div {
              background-color: #f6f6f6;

              + div {
                background-color: #f5f5f5;

                + div {
                  background-color: #f3f3f3;

                  + div {
                    background-color: #f1f1f1;

                    + div {
                      background-color: #f0f0f0;

                      + div {
                        background-color: #eee;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      // Twelve columns.
      &:nth-last-child(12) {
        + div {
          background-color: #fdfdfd;

          + div {
            background-color: #fbfbfb;

            + div {
              background-color: #f8f8f8;

              + div {
                background-color: #f6f6f6;

                + div {
                  background-color: #f5f5f5;

                  + div {
                    background-color: #f3f3f3;

                    + div {
                      background-color: #f1f1f1;

                      + div {
                        background-color: #f0f0f0;

                        + div {
                          background-color: #eee;

                          + div {
                            background-color: #ebebeb;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &:last-child {
      background-color: $grey-210;
    }
  }
}
