//
// Global variables.
//
// Don't put any css styles into this file, because it's included
// multiple times.
//


//
// Colour variables.
//

// Brand colours.
$brand-red:    #e74c3c;
$brand-yellow: #f1c40f;
$brand-green:  #2ecc71;
$brand-blue:   #0593dd;
$brand-grey:   #585f69;

// Secondary palette.
$red-muted:    #e26656;
$red:          #ed4b4b;
$orange:       #f37748;
$orange-muted: #f19953;
$orange-dark:  #e67e22;
$green:        #34b977;
$green-muted:  #659b79;
$teal:         #40c6ba;
$blue:         #047ebe;
$blue-overlay: #207eb0;
$blue-muted:   #64819f;
$blue-dark:    #4765a0;
$purple:       #9b6bcc;
$purple-muted: #7f6ea5;
$violet:       #b46c95;

// Greyscale.
$white:           #fff;
$white-secondary: rgba($white, 0.7);
$white-muted:     rgba($white, 0.3);
$white-divider:   rgba($white, 0.12);

$grey-100:        #f3f3f4;
$grey-200:        #eee;
$grey-210:        #e9e9e9;
$grey-300:        #ccc;
$grey-400:        #787878;
$grey-500:        #676a6c;
$grey-600:        #5a5a5a;
$grey-800:        #333;
$grey-900:        #222;

$black-actual:    #000;
$black:           rgba($black-actual, 0.87);
$black-secondary: rgba($black-actual, 0.54);
$black-muted:     rgba($black-actual, 0.38);
$black-divider:   rgba($black-actual, 0.12);


//
// Bootstrap variables.
//
// These are variables expected by Bootstrap components.
//

// Colours.
$gray-base:     $black-actual;
$gray-darker:   $grey-900;
$gray-dark:     $grey-800;
$gray:          $grey-500;
$gray-light:    $grey-400;
$gray-lighter:  $grey-200;

$brand-primary: $brand-blue;
$brand-success: $brand-green;
$brand-info:    $brand-blue;
$brand-warning: #e8c010;
$brand-danger:  #eb4e5d;


// Scaffolding.
$body-bg:               $white;
$text-color:            $grey-500;
$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Typography.
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      "Adobe Caslon Pro", "adobe-caslon-pro", "Book Antiqua", "Palatino Linotype", Georgia, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif;

$font-size-base:         14px !default;
$font-size-lg:           ceil(($font-size-base * 1.25));
$font-size-sm:           ceil(($font-size-base * 0.875));
$font-size-large:        ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:        ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:           floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:           floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:           ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:           ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:           $font-size-base !default;
$font-size-h6:           ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:       1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:   floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;


// Components.
$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;


// Badges.
$badge-color:                 #fff !default;
//** Linked badge text color on hover
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $black-muted;

//** Badge text color in active nav link
$badge-active-color:          $white;
//** Badge background color in active nav link
$badge-active-bg:             $black-muted;

$badge-font-weight:           400;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;


// Labels.
//** Default label background color
$label-default-bg:            $gray-light !default;
//** Primary label background color
$label-primary-bg:            $brand-primary !default;
//** Success label background color
$label-success-bg:            $brand-success !default;
//** Info label background color
$label-info-bg:               $brand-info !default;
//** Warning label background color
$label-warning-bg:            $brand-warning !default;
//** Danger label background color
$label-danger-bg:             $brand-danger !default;

//** Default label text color
$label-color:                 $white;
//** Default text color of a linked label
$label-link-hover-color:      $white;


// Buttons.
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-font-weight:                600;

$btn-default-color:              $grey-500;
$btn-default-bg:                 transparent;
$btn-default-border:             $grey-500; //darken($grey-500, 5%);

$btn-primary-color:              $white;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $brand-primary; //darken($btn-primary-bg, 5%);

$btn-success-color:              $white;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $brand-success; //darken($btn-success-bg, 5%);

$btn-info-color:                 $white;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $brand-info; //darken($btn-info-bg, 5%);

$btn-warning-color:              $white;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $brand-warning; //darken($btn-warning-bg, 5%);

$btn-danger-color:               $white;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $brand-danger; //darken($btn-danger-bg, 5%);

$btn-link-disabled-color:        $grey-300;
$btn-link-disabled-bg:           #adadad;
$btn-link-disabled-border:       #adadad;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         3px;
$btn-border-radius-large:        $btn-border-radius-base;
$btn-border-radius-small:        $btn-border-radius-base;


// Forms.
$input-padding-x:                10.5px;
$input-padding-y:                14px;
$input-line-height:              1.25;

$input-bg:                       $grey-100;
$input-bg-disabled:              $gray-lighter;

$input-color:                    $gray;
$input-border:                   $grey-300;

$input-border-radius:            3px;
$input-border-radius-large:      $input-border-radius;
$input-border-radius-small:      $input-border-radius;

$input-bg-focus:                 $white;
$input-border-focus:             $brand-primary;

$input-color-placeholder:        #999;

$input-padding-x-sm:             7px;
$input-padding-y-sm:             3.5px;

$input-padding-x-lg:             21px;
$input-padding-y-lg:             10.5px;

// Bootstrap v4 vars.
$input-height:                   floor(((16px * 1.4) + ($input-padding-y * 2)));
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2));
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2));

$input-height-base:              $input-height;
$input-height-large:             $input-height-lg;
$input-height-small:             $input-height-sm;

$form-group-margin-bottom:       15px;

$legend-color:                   $gray-dark;
$legend-border-color:            #e5e5e5;

$input-group-addon-bg:           $gray-lighter;
$input-group-addon-border-color: $input-border;

$cursor-disabled:                not-allowed;


// Alerts.
$alert-padding:               15px;
$alert-border-radius:         3px;
$alert-link-font-weight:      bold;

$alert-success-bg:            $brand-success;
$alert-success-text:          $white;
$alert-success-border:        $brand-success;

$alert-info-bg:               $brand-info;
$alert-info-text:             $white;
$alert-info-border:           $brand-info;

$alert-warning-bg:            $brand-warning;
$alert-warning-text:          $white;
$alert-warning-border:        $brand-warning;

$alert-danger-bg:             $brand-danger;
$alert-danger-text:           $white;
$alert-danger-border:         $brand-danger;





//
// Legacy vars.
//
$brand-primary-color:    #0593dd;
$brand-secondary-color:  #2ecc71;
$brand-tertiary-color:   #9b6bcc;
$brand-quaternary-color: #e67e22;
$brand-highlight:        #4765a0;

$brand-nav-color: #333;

$brand-red:    #e74c3c;
$brand-green:  #2ecc71;
$brand-yellow: #f1c40f;
$brand-blue:   #0593dd;

$brand-gray:       #6a6a6a;
$brand-gray-dark:  #585f69;
$brand-gray-light: #ccc;
$brand-light:      #f5f5f5;

$primary-color: $brand-primary-color;
$neutral:       $brand-primary-color;

// Utility Classes
$border-color: #ccc;
$link-color:   #0593dd;

// Timeline
$vertical: true;
